<main>
  <%= link_to "Remove All Favorited Pets", "/favorites", method: :delete %>
  <%= @favorites.count_of == 0 ? "You have no favorited pets" : "" %>
  <%= @favorites.contents.each do |pet_id| %>
    <article id="pet-<%= pet_id %>">
      <h2><%= link_to @favorites.find_pet(pet_id).name, "/pets/#{@favorites.find_pet(pet_id).id}" %></h2>
      <img src=<%=@favorites.find_pet(pet_id).image%> width="100" height="100">
      <%= link_to 'Remove from favorites', "/favorites/#{pet_id}", method: :delete %>
    </article>
  <% end %>
</main>
