<main>
  <%= link_to "Remove All Favorited Pets", "/favorites", method: :delete %> |
  <%= link_to "Adopt Pets", "/applications/new" %>
  <section id="favorite-pets">
    <% if favorites.count_of == 0 %>
      <p>You have no favorited pets </p>
    <% else %>
      <% favorites.contents.each do |pet_id| %>
        <article id="pet-<%= pet_id %>">
          <h2><%= link_to favorites.find_pet(pet_id).name, "/pets/#{favorites.find_pet(pet_id).id}" %></h2>
          <%= image_tag favorites.find_pet(pet_id).image %>
          <%= link_to 'Remove from favorites', "/favorites/#{pet_id}", method: :delete %>
        </article>
      <% end %>
    <% end %>
  </section>
  <section id="application-pets">
    <h2>Pets with Applications</h2>
    <% @application_pets.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %><br/>
    <% end %>
  </section>
</main>
